
/* -----------------------------------------------------------便利贴样式------------------------------------------------- */
/* ————————————————————浅色便利贴———————————————————— */
/* 设置统一属性 */
.protyle-wysiwyg [data-node-id][custom-blt*="qs"] {
    padding: 20px 10px !important;
    /* margin: 20px 5px !important; */
    width: 300px;
    min-height: fit-content !important;
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
    box-sizing: border-box !important;
    text-align: justify;
    color:#525252;
    border-radius: 4px;
}
/* 单独设置属性 */
.protyle-wysiwyg [data-node-id][custom-blt="qsr"] {
    background-color: #e5ddcc;
    border-top: none;
border-left:3px solid #9b4946;
       background-image:linear-gradient(rgba(131, 111, 86, 0.1) 1px, transparent 0),
        linear-gradient(90deg, rgba(131, 111, 86, 0.1) 1px, transparent 0),
        linear-gradient(hsla(33, 21%, 43%, .1)1px,
            transparent 0);
    background-size:         20px 20px, 20px 20px!important;
    color:hsl(184.24deg 38% 29%)!important;
}
.protyle-wysiwyg [data-node-id][custom-blt="qsy"] {
    background-color: rgba(254, 229, 172) !important;
    border-top: 3px solid  #e4c411;
}

.protyle-wysiwyg [data-node-id][custom-blt="qsb"] {
    background-color:rgba(207, 221, 254) !important;
    border-top: 3px solid #0056ff;
}

.protyle-wysiwyg [data-node-id][custom-blt="qsg"] {
    background-color: rgba(204, 242, 200) !important;
    border-top: 3px solid #00d208;
}
/* ————————————————————深色便利贴———————————————————— */
/* 设置统一属性 */
.protyle-wysiwyg [data-node-id][custom-blt*=ss] {
    color: white !important;
    border-left: 0px solid transparent !important;
    box-sizing: border-box !important;
    border-radius:4px !important;
    box-shadow:  8px 16px 16px hsl(0deg 0% 0% / 0.25);
    padding: 20px 10px !important;
    /* margin: 20px 5px !important; */
    position: relative;
    z-index: 2;
    width: 300px !important;
    min-height: fit-content !important;
    border-top: 3px solid black !important;
    text-align: justify;
}

/* 单独设置属性 */
.protyle-wysiwyg [data-node-id][custom-blt="ssr"] {
    background: #c81a31 !important;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0),
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 0),
        linear-gradient(hsla(0, 0%, 100%, .1)1px,
            transparent 0),
        linear-gradient(90deg, hsla(0, 0%, 100%, .1) 1px,
            transparent 0) !important;
    background-size: 75px 75px, 75px 75px,
        15px 15px, 15px 15px !important;
}

.protyle-wysiwyg [data-node-id][custom-blt="ssy"] {
    background: #ec6f05 !important;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0),
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 0),
        linear-gradient(hsla(0, 0%, 100%, .1)1px,
            transparent 0),
        linear-gradient(90deg, hsla(0, 0%, 100%, .1) 1px,
            transparent 0) !important;
    background-size: 75px 75px, 75px 75px,
        15px 15px, 15px 15px !important;
}

.protyle-wysiwyg [data-node-id][custom-blt="ssb"] {
    background: #384b76 !important;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0),
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 0),
        linear-gradient(hsla(0, 0%, 100%, .1)1px,
            transparent 0),
        linear-gradient(90deg, hsla(0, 0%, 100%, .1) 1px,
            transparent 0) !important;
    background-size: 75px 75px, 75px 75px,
        15px 15px, 15px 15px !important;
}

.protyle-wysiwyg [data-node-id][custom-blt="ssg"] {
    background: #325342 !important;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0),
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 0),
        linear-gradient(hsla(0, 0%, 100%, .1)1px,
            transparent 0),
        linear-gradient(90deg, hsla(0, 0%, 100%, .1) 1px,
            transparent 0) !important;
    background-size: 75px 75px, 75px 75px,
        15px 15px, 15px 15px !important;
}
/* ————————————————————径向渐变背景—————————————— */
.protyle-wysiwyg [data-node-id][custom-blt~=jb] {
    height: 300px;
    width: 300px;
    overflow: scroll;
    background-image: radial-gradient(#f8ca6c 20%, #fcf4df 80%);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 20px 10px;
    margin: 30px 5px;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    color: rgb(80, 79, 79);
    text-align: justify;
}
.protyle-wysiwyg [data-node-id][custom-blt~=jb]::-webkit-scrollbar{width:0px !important;height:0px !important}
/* ——————————————————奥运限定版背景（冰墩墩和雪容融）—————————————— */
.protyle-wysiwyg [data-node-id][custom-blt~=ay] {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 10px 10px 20px 10px!important;
    width: 300px;
    min-height: fit-content !important;
    position: relative;
    z-index: 2;
    box-sizing: border-box !important;
    text-align: justify;
    border-radius: 4px;
    background-color:#fbfbfb;
    border-top:30px solid #836f56 !important;
}
.protyle-wysiwyg [data-node-id][custom-blt="ay"]::after{    content: ' ';
    position: absolute;
    background: #ede6d4;
    box-shadow: -33px 0 #ede6d4, -66px 0 #ede6d4;
    border-radius: var(--b3-border-radius-round);
    top: -25px;
    right: 15px;
    height: 20px;
    width: 20px;
    z-index: 1;}

.protyle-wysiwyg [data-node-id][custom-blt="ay2"] {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 35px 30px!important;
    width: 330px;
    min-height: fit-content !important;
    position: relative;
    z-index: 2;
    box-sizing: border-box !important;
    text-align: justify;
    border-radius: 0px;
    background-color:#d4c6a8;
}
.protyle-wysiwyg [data-node-id][custom-blt="ay2"]::after{content:' ';background-color:#f5f6f1;top:15px;right:15px;left:15px;bottom:15px;position:absolute;z-index:-1;border-radius:10px}

/* ——————————————————奥运限定版背景（冰墩墩和雪容融） END—————————————— */

